doctype html
html
	head
		meta(charset="utf-8")
		title Rio 360° – Eleições

	body
		.map-container
			.control
			#map

	link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css")
	link(rel="stylesheet" href="eleicoes.css")

	script(src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js")
	script(src="eleicoes.js")
